<div class="container">

    <div class="product-page-header">
      <div class="page-results">
        <h1>X Results</h1>
      </div>
      <div class="category-header">
        <h1>Store / Pants</h1>
      </div>
      <div class="sort-by">
        <button>
          <span>Sort By  </span>
          <span class="caret"></span>
        </button>
      </div>
    </div>
  
    <hr>
  
    <div id="products-list">
      <div class="product">
        <img class="product-img" src="assets/photos/pants_0001.png" />
        <h2>Jonus Slim Fit Pant - Olive</h2>
        <h3>Price: $45.00</h3>
        <div class="add-to-cart-button">
          <button>Add to cart</button>
        </div>
      </div>

      <div class="product">
        <img class="product-img" src="assets/photos/pants_0001.png" />
        <h2>Jonus Slim Fit Pant - Olive</h2>
        <h3>Price: $45.00</h3>
        <div class="add-to-cart-button">
          <button>Add to cart</button>
        </div>
      </div>    
 
      <div class="product">
        <img class="product-img" src="assets/photos/pants_0001.png" />
        <h2>Jonus Slim Fit Pant - Olive</h2>
        <h3>Price: $45.00</h3>
        <div class="add-to-cart-button">
          <button>Add to cart</button>
        </div>
      </div>  

      <div class="product">
        <img class="product-img" src="assets/photos/pants_0001.png" />
        <h2>Jonus Slim Fit Pant - Olive</h2>
        <h3>Price: $45.00</h3>
        <div class="add-to-cart-button">
          <button>Add to cart</button>
        </div>
      </div>  

    </div>
  
  </div>