<div class="container">

  <div class="product-page-header">
    <div class="page-results">
      <h1 [hidden]="filterResultsData.count === 0">{{ filterResultsData.count }} Results</h1>
    </div>
    <div class="category-header">
      <h1>Store / All Products</h1>
    </div>

    <div class="sort-by">
      <button (click)="toggleHide = !toggleHide">
        <span>Sort By  </span>
        <span class="caret"></span>
      </button>
      <ul (window:mouseup)="autoCloseDropdown($event)" *ngIf="toggleHide" class="dropdown-menu">
        <li (click)="defaultList()" class="sort-item">Default List</li>
        <li (click)="sortByLow()" class="sort-item">Price Low to High</li>
        <li (click)="sortByHigh()" class="sort-item">Price High to Low</li>
      </ul>
    </div>
  </div>

  <hr>

  <div id="products-list">
    <div *ngFor="let product of products | productFilter:filterargs:filterResultsData" class="product">
      <img class="product-img" src="{{ product.product_image }}" />
      <h2>{{ product.name }}</h2>
      <h3>Price: {{ product.price }}</h3>
      <div class="add-to-cart-button">
        <button>Add to cart</button>
      </div>
    </div>
    
  </div>

</div>