/* ----- Navigation ----- */

#main-nav {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.nav-bar{
  margin: auto;
  max-width: 1440px;
  padding: 10px;
}

.nav-items {
    display: flex;
    justify-content: space-between;

}

.app-title {
  margin: auto 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

.app-title:hover {
  cursor: pointer;
}

.search-bar {
  width: 60%;
  display: flex;
  border: 1px solid rgba(0,0,0,0.1);
}

.search-bar input{
  width: calc(80% - 20px);
  font-size: 14px;
  padding: 0 10px;
  border-width: 1px;
  border-style: none;
}

.search-bar button{
  width: 20%;
  background-color: #fff;
  border-radius: 1px;
  border-left: none;
  height: 100%;
  color: #333;
  font-size: 12px;
  font-family: sans-serif;
  align-self: center;
  text-transform: uppercase;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid rgba(0,0,0,0.1);
}

.search-bar button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.nav-buttons {
  display: flex;
}

.sign-in-button,
.cart-button,
.username-button {
  padding: 4px 10px 0 0;
}

.sign-in-button button,
.cart-button button,
.username-button button {
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
  color: #333;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,0.1);
}

.sign-in-button button:hover,
.cart-button button:hover,
.username-button button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.username-button button span {
  border: solid;
  border-color: #333;
  border-width: 0 1px 1px 0;
  display: inline-block;
  position: relative;
  padding: 3px;
  transform: rotate(45deg);
  top: -3px;
  left: 2px;
  margin: 0 5px;
}

.username-button button:hover span {
  border-color: #fff;
}

.logged-in-dropdown {
  position: absolute;
  padding: 0;
  list-style: none;
  font-size: 14px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-color: #ffffff;
  margin: 5px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logged-in-dropdown-item {
  padding: 5px 20px;
}

.logged-in-dropdown-item:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.cart-button span {
  background-color: #fff;
  color: #333;
  border-radius: 100%;
  padding: 1px 5px;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

.sign-in-img,
.cart-img {
  width: 35px;
  height: 35px;
}

#sub-nav {
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.sub-nav-bar{
  margin: auto;
  max-width: 1440px;
}

.sub-nav-items {
    display: flex;
    justify-content: space-between;
}

.t-shirts-button:hover,
.jackets-button:hover,
.shorts-button:hover,
.pants-button:hover {
  font-weight: bold;
  cursor: pointer;
}

.category-nav {
  margin: auto 0;
  padding: 10px 0;
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
  text-align: center;
  width: 25%;
  border-right: 1px solid rgba(0,0,0,0.1);
  text-decoration: none;
}

.category-nav:first-child {
  border-left: 1px solid rgba(0,0,0,0.1);
}

.selected {
  color: #fff;
  background-color: #333;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /* Styles */
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {

  .search-bar input{
    width: calc(80% - 10px);
    font-size: 14px;
    padding: 0 5px;
  }
  
  .search-bar button{
    width: 20%;
  }
  

}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  
  /* .app-title{
    font-size: 14px;
  } */

  .nav-items {
    flex-direction: column;
  }

  .app-title {
    margin: auto;
    font-size: 20px;

  }


  .search-bar {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
  }

  .search-bar input{
    width: calc(70% - 10px);
    font-size: 14px;
    padding: 0 5px;
  }
  
  .search-bar button{
    width: 30%;
  }

  .nav-buttons {
    justify-content: space-between;
  }


  .category-nav {
    font-size: 12px;
  }
}