<section class="wrapper">
  <div id="main-nav">
    <div class="nav-bar">
      <div class="nav-items">
        <a routerLink="/store" class="app-title">Store</a>
        <div class="search-bar">
          <input [(ngModel)]="searchText" (keyup.enter)="onEnterPressed()" type="text" placeholder="Search.."/>
          <button (click)="onEnterPressed()">Search</button>
        </div>
        <div class="nav-buttons">
          <div class="sign-in-button">
            <button>Sign In</button>
          </div>
          <div class="cart-button">
            <img class="cart-img" src="assets/photos/shoppingcart.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sub-nav">
    <div class="sub-nav-bar">
      <div class="sub-nav-items">
        <a routerLink="/store/t-shirts" routerLinkActive="selected" class="category-nav t-shirts-button">T-Shirts</a>
        <a routerLink="/store/jackets" routerLinkActive="selected" class="category-nav jackets-button">Jackets</a>
        <a routerLink="/store/shorts" routerLinkActive="selected" class="category-nav shorts-button">Shorts</a>
        <a routerLink="/store/pants" routerLinkActive="selected" class="category-nav pants-button">Pants</a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</section>
