<section class="wrapper">
  <div id="main-nav">
    <div class="nav-bar">
      <div class="nav-items">
        <h1 class="app-title">SHOP</h1>
        <input class="search-bar" type="text" placeholder="Search.."/>
        <div class="nav-buttons">
          <div class="sign-in-button">
            <img class="sign-in-img" src="../../photos/signin.png" />
          </div>
          <div class="cart-button">
            <img class="cart-img" src="../../photos/shoppingcart.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="filters-box">
      <h1>Filters</h1>
    </div>
    <div id="products-list">
      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

      <div class="product">
        <img class="product-img" src="../../photos/shirt_0001.png" />
        <h2>Black T-Shirt</h2>
        <h3>Price: $20.00</h3>
        <button>Add to cart</button>
      </div>

    </div>

  </div>
</section>
